<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}GSB{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/NFGsb/css/style.css') }}" 
              type="text/css" media="all" />

    </head>
    <body>
        <div id="entete">
            <div id="entete_gauche">
                    <img src="{{ asset('bundles/NFGsb/images/logoGsb.jpg')}}" alt="logo" width="128" height="128" />
            </div>

            <div id="entete_droite">
                <h1> Le laboratoire blablalol </h1>
            </div>
        </div>
        <div id="corps">
            <div id="corps_gauche">
                <table id="table_menu">
                    <tr>
                        <td class="td1">
                            <p class="justifier">Présentation</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="td2">
                            <ul>
                                <li><a href="#">Activité</a></li>
                                <li><a href="#">L'Entreprise</a></li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td class="td1">
                            <p class="justifier">Le SI</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="td2">
                            <ul>
                                <li><a href="#">Description</a></li>
                                <li><a href="#">La gestion</a></li>
                                <li><a href="#">L'équipement</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <p class="justifier">Le Réseau</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="td2">
                            <ul>
                                <li><a href="#">Répartition</a></li>
                                <li><a href="#">Segmentation</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="corps_droit">
                <p>Corps</p>
            </div>
        </div>

        <div id="pied">
            <p>pied de page</p>
        </div>
    </body>
	{% block body %}
        {% endblock %}
</html>